/* will have css for all pages */
html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    background-image: url(Old-Scona_1600x1100.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body {
    margin: 0px;
    padding: 0px;
}
header {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 1px;
    /*background-color: ivory; */
    bottom: 0;
    margin: 0% 15%;
}
.logo {
    display: inline-block;
}
.mainHeading {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #166936;
}
.navBar {
    background-color: #fad13e;
    font-family: Helvetica, Arial, sans-serif;
    position: sticky;
    overflow: hidden;
    margin: 0% 15%;
    border-bottom: 5px solid #166936;
    top: 0;
}
.navBar a{
    color: #166936;
    float: left;
    padding: 20px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    margin: 0;
}
.navBar a:hover{
    background-color: #af932c;
    color: white;
}
.navBar a.active{
    background-color: #166936;
    color: white;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    margin: 0% 15%;
    background-color:ivory;
}
.exemplars {
    max-width: 80%;
    max-height: 70%;
    /* width: auto; */
    border: 5px solid black;
}
